body {
    background: #f2f2f2;
    font-family: Arial, sans-serif;
    padding: 20px;
}
h2 {
    margin-top: 30px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

input,
button {
    padding: 8px;
    margin: 4px 0;
    width: 100%;
}

button {
    background: #0000ff;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background: #0000ff;
}

#notificacoes {
    background: #fff8d6;
    border-left: 5px solid #ffc107;
    padding: 10px;
    margin-top: 20px;
    height: 200px;
    overflow-y: auto;
}
